<h2>Cart</h2>
<div *ngIf="cartItems.length > 0; else empty">
    <app-cart-item
        *ngFor="let item of cartItems"
        [cartItem]="item"
        (removeBook)="removeBook($event)"
        (increaseQuantity)="increaseQuantity($event)"
        (decreaseQuantity)="decreaseQuantity($event)"
    >
    </app-cart-item>
    <button (click)="onClearCart()">Clear Cart</button>
    <hr />
    Total price: {{ cartService.totalSum }} / Total books:
    {{ cartService.totalQuantity }}
</div>
<ng-template #empty>
    <h5>Cart is empty</h5>
</ng-template>
