<h2>Cart</h2>
<div *ngIf="cartItems.length > 0; else empty">
    <form class="row">
        <label
            >Sort cart items
            <select [(ngModel)]="sortParam" name="sortParam">
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="booksInCart">Total</option>
            </select>
        </label>
        <label>
            <input
                type="radio"
                name="switchRadio"
                value="asc"
                [(ngModel)]="sortFlag"
            />
            asc
        </label>
        <label>
            <input
                type="radio"
                name="switchRadio"
                value="desc"
                [(ngModel)]="sortFlag"
            />
            desc
        </label>
    </form>
    <hr />
    <app-cart-item
        *ngFor="let item of cartItems | orderBy: sortParam:sortFlag"
        [cartItem]="item"
        (removeBook)="onRemoveBook($event)"
        (increaseQuantity)="onIncreaseQuantity($event)"
        (decreaseQuantity)="onDecreaseQuantity($event)"
    >
    </app-cart-item>
    <button (click)="onClearCart()">Clear Cart</button>
    <hr />
    Total price: {{ cartService.totalSum }} / Total books:
    {{ cartService.totalQuantity }}
</div>
<ng-template #empty>
    <h5>Cart is empty</h5>
</ng-template>
